@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 9px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #949191;
}
::-webkit-scrollbar-thumb {
    background: #2A9D8F;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
    background: #E76F51;
}

nav {
  position: absolute;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease-in;
  font-family: 'Ubuntu', sans-serif;

}
nav.sticky {
  padding: 13px 0;
  
}
nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a {
  font-weight: 500;
  font-size: 40px;
  color: #ffffff;
}

nav .navbar .logo a:hover {
  color: #E76F51;
}

nav.sticky .navbar .logo a {
  color: #fff0f5;
}
nav .navbar .menu {
  display: flex;
  position: relative;
}
nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a {
  font-size: 18px;
  font-weight: 800;
  color: #ffffff;
  padding: 6px 0;
  transition: all 0.4s ease-in-out 0.1s;
}
.navbar .menu a:hover {
  color: #E76F51;
}
nav.sticky .menu a {
  color: #ffffff;
}
.cancel-btn,
.menu-btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
nav .media-icons a {
  color: #E76F51;
  font-size: 18px;
  margin: 0 6px;
}
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('picture3.avif') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
.home .home-content {
  text-align: center;
}
.home .home-content .text-one {
  font-size: 45px;
  color: #ffb6c1;
  font-weight: 500;
}

.home .home-content .text-one:hover{
  color:#F4A261;
}

.home .home-content .text-two {
  font-size: 75px;
  font-weight: 600;
  color: #fff;
}

.home .home-content .text-two:hover{
  color:#F4A261;
}
.home .home-content .text-three {
  font-size: 30px;
  color: #ffb6c1;
  font-weight: 500;
}

.home .home-content .text-three:hover{
  color:#2A9D8F;
}
.scroll-button a {
  color: #ff6347;
  font-size: 30px;
}
.scroll-button a:hover {
  color: #ffb6c1;
}
.about,
.detect,
.contact {
  padding: 79px 0;
  font-family: 'Poppins', sans-serif;
}
.about .content,
.detect .content,
.contact .content {
  width: 85%;
  margin: auto;
}
.about .content .title,
.detect .content .title,
.contact .content .title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #ff6347;
}

.about .content .title:hover{
  color:#264653
}
.about .content .about-details,
.detect .content .detect-details,
.contact .content .contact-details {
  display: flex;
  justify-content: space-between;
}
.about .content .about-details .left,
.detect .content .detect-details .left,
.contact .content .contact-details .left {
  width: 50%;
}
.about .content .about-details .right,
.detect .content .detect-details .right,
.contact .content .contact-details .right {
  width: 79%;
}

.about .content .about-details .right .topic {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #ff6347;
}
.about .content .about-details .right p {
  font-size: 20px;
  line-height: 1.87;
  color: #333;
 
 
}

.detect .title span:hover {
  color: #264653; /* Change text color on hover */
  text-decoration: double; /* Add underline on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.detect .upload-area {
  text-align: center;
  padding: 60px 20px;
  border: 3px dashed #E76F51;
  border-radius: 10px;
}
.detect .upload-area i {
  font-size: 50px;
  color: #E76F51;
}
.detect .upload-area h3 {
  font-size: 20px;
  margin: 20px 0;
  color: #333;
}
.detect .upload-area span {
  display: block;
  font-size: 17px;
  margin: 20px 0;
  color: #555;
}
.detect .choose-file-btn {
  background: #ff6347;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.detect .choose-file-btn:hover {
  background: #F4A261;
  box-shadow: 0 0 20px rgb(241, 186, 66) ;
  text-shadow: 0 0 10px rgb(61, 235, 244);
}
.detect .content form input[type="file"] {
  display: none;
}
.detect button[type="submit"] {
  background: #F4A261;
  color: #fff;
  padding: 15px 20px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}
.detect button[type="submit"]:hover {
  background: #2A9D8F;
  box-shadow: 0 0 20px rgba(242, 255, 0, 0.6);
  text-shadow: 0 0 10px rgba(255, 0, 255, 0.5);
}



.contact .content .title span {
  color: #264653;
}

.contact .content .title span:hover {
  color:#E76F51 ;
  text-decoration: double;
  cursor: pointer;
}
footer {
  background: #ff6347;
  padding: 15px 0;
  text-align: center;
}
footer .text span {
  color: #fff;
  font-size: 16px;
}
footer .text a {
  color: #fff;
  font-weight: 500;
}
footer .text a:hover {
  color: #ffb6c1;
}



.contact .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 40px;
  border: 1px dashed #ccc;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.contact .content .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact .content .text {
  font-size: 16px;
  color: #E76F51;
  text-align: center;
}

.contact .content .text h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact .content .text li {
  margin-bottom: 5px;
}