body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

h1:hover {
    color: #0694f4; /* Change color on hover */
}

p {
    font-size: 18px;
    margin: 10px 0;
}

h2 {
    color: #34495e;
    margin-top: 30px;
}

h2:hover{
    color: rgba(241, 16, 178, 0.732);
}

img {
    border: 2px solid #8ca5bf;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 600px;
    width: 90%;
    margin: 20px;
    text-align: center;
}

p span {
    font-weight: bold;
    color: #2980b9;
}



